.next
artifacts
cache
coverage
node_modules
out
.home

.DS_Store
.env
.env.local
.env.*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

typechain-types
types/ethers-contracts
dist
tsconfig.tsbuildinfo
